<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서 대여관 시스템</title>
  <link rel="stylesheet" href="/paging.css"/>
</head>
<body>
<header th:replace="/navbar.html"></header>


<h1>메인페이지</h1>
<table class="list_table">
  <thead>
  <tr>
    <th class="number">도서 번호</th>
    <th class="title">도서명</th>
    <th class="writer">글쓴이</th>
    <th class="count">대여건수(대여기록)</th>
    <th class="boolean">대여가능여부 </th>
    <th class="inquiry">대여 </th>
    <th class="modify">수정 </th>


    <!--                  <th class="button_menu">선택</th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:each="book, loop : ${paging}">
    <td class="number" id="selectedBookId" th:text="${book.id}">번호</td>
    <td class="title"th:text="${book.name}">도서명</td>
    <td class="writer" th:text="${book.writer}">글쓴이</td>
    <td class="count" ><a th:href="@{|/book/history/${book.id}|}" th:text="${#lists.size(book.rentList)}"></a>대여건수</td>
    <td class="boolean" th:text="${book.state ? '대여가능' : '대여불가'}"></td>
    <td class="inquiry" id="modify_btn" th:if="${book.state}">
      <a th:href="@{|/rent/${book.id}|}">
        <button>대여</button>
      </a>
    </td>
    <td class="modify" sec:authorize="isAuthenticated()" th:if="${book.author != null
    and #authentication.getPrincipal().getUsername() == book.author.username}">
      <a th:href="@{|/book/modify/${book.id}|}"
         ><button>수정</button></a>
    </td>

  </tr>
  </tbody>
</table>

<!-- 페이징처리 시작 -->
<div th:if="${!paging.isEmpty()}" style="text-align: center;">
  <ul class="pagination1 justify-content-center">
    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
      <a class="page-link1" th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=0|}">
        <span><</span>
      </a>
    </li>
    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
        th:if="${page >= paging.number-5 and page <= paging.number+5}"
        th:classappend="${page == paging.number} ? 'active'"
        class="page-item">
      <a th:text="${page+1}" class="page-link1" th:href="@{|?page=${page}|}"></a>
    </li>
    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
      <a class="page-link1" th:href="@{|?page=${paging.number+1}|}">
        <span>></span>
      </a>
    </li>
  </ul>
</div>
<!-- 페이징처리 끝-->

</body>
</html>